{% block header %}
    <header class="bg-purple-200 text-white z-20 sticky top-0">
        <div class="container px-4 mx-auto">
            <div class="flex align-center py-6 lg:space-x-32 items-center justify-between h-[90px]">
                <a href="{{ siteUrl }}">Logo</a>
                <label class="bg-red px-2 rounded-lg nav-shadow flex items-center justify-center lg:hidden"></label>
                <nav class="font-bold container mx-auto px-4 lg:visible lg:flex lg:justify-end lg:space-x-10 lg:items-center">
                </nav>
            </div>
        </div>
    </header>
{% endblock %}